<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
<ul id="wordbooks">
  <% wordbooks.forEach(function(wordbooks){ %>
    <li><%= wordbooks.front_card %> --> <%= wordbooks.back_card %></li>
  <% }) %>
</ul></html>
